#menu {
    background-color: #565d64;
    position: absolute;
    left: 0px;
    top: 0px;
    bottom: 0px;
}
#mainContainer{
    background-color: #ffffff;
    float: left;
    position: absolute;
    left: 10em;
    right: 0px;
    top: 0px;
    bottom: 0px;
}

.custom-textcolor{
    color: white;
}

.custom-restricted-width {
    /* To limit the menu width to the content of the menu: */
    /*display: inline-block;*/
    /* Or set the width explicitly: */
     width: 10em;
}

.header-color{
    background-color: #129FEA;
    padding-top: 1em;
}

.header-title{
    color: white;
}

.button-error-color{
    background-color: #d9534f;
    color: white;
}

.button-select-color{
    background-color: #0078e7;
    color: white;
}


.user-uploaded-pic-cell{
    background-color: transparent;
    list-style-type: none;
    display: list-item;
    float: left;
    margin-right: 60px;
    margin-top: 30px;
    width: 150px;
    height: 300px;
}

.select-file-button{
    position: relative;
    cursor: pointer;
    overflow: hidden;
    display: inline-block;
}

.select-file-button input{
    position: absolute;
    font-size: 100px;
    right: 0;
    top: 0;
    opacity: 0;
    filter: alpha(opacity=0);
    cursor: pointer
}

