.loginBackgroundDiv{
    background-color: #999999;
    margin-left: auto;
    margin-right: auto;
    top: 0;
    position: relative;
    max-width: 70%;
}

.headingView{
    padding: 0;
    margin: 0;
}