<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/pure-min.css">
    <link rel="stylesheet" href="css/layout.css">
    <script type="text/javascript" src="js/jquery-2.1.4.min.js"></script>
    <script type="text/javascript" src="js/arttemplate.js"></script>
    <script src="js/feedback.js" type="text/javascript"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>反馈信息</title>

</head>
<body>
{% verbatim %}
<div id="menu">
    <div class="pure-menu custom-restricted-width custom-textcolor">
        <span class="pure-menu-heading custom-textcolor"><a href="index.html" class="custom-textcolor" style="text-decoration: none">炫轮</a></span>
        <ul class="pure-menu-list">
            <li class="pure-menu-item"><a href="upload.html" class="pure-menu-link custom-textcolor">文件上传</a></li>
            <li class="pure-menu-item"><a href="manage.html" class="pure-menu-link custom-textcolor">图片管理</a></li>
            <li class="pure-menu-item"><a href="version.html" class="pure-menu-link custom-textcolor">版本更新</a></li>
            <li class="pure-menu-item"><a href="advertise.html" class="pure-menu-link custom-textcolor">广告更新</a></li>
            <li class="pure-menu-item"><a href="feedback.html" class="pure-menu-link custom-textcolor">反馈信息</a></li>
            <li class="pure-menu-item"><a href="information.html" class="pure-menu-link custom-textcolor">运营信息</a></li>
            <li class="pure-menu-item"><a href="userupload.html" class="pure-menu-link custom-textcolor">审核</a></li>
        </ul>
        <span class="pure-menu-heading custom-textcolor"></span>
        <ul class="pure-menu-list">
            <li class="pure-menu-item"><a href="logout" class="pure-menu-link custom-textcolor">注销登录</a></li>
        </ul>
    </div>
</div>
<div id="mainContainer">
    <div class="header header-color" align="center">
        <h1 class="header-title">反馈信息</h1>
        <table class="pure-table">
            <thead>
                <tr>
                    <th>#</th>
                    <th>邮箱</th>
                    <th>内容</th>
                    <th>时间</th>
                </tr>
            </thead>
            <tbody id="feedbacklist">
            </tbody>
        </table>
    </div>
    <div class="content">

    </div>
    <div class="footer">

    </div>
</div>

<script id="feedmodule" type="text/html">
    {{each lmList as item i}}
        <tr>
            <td>{{item.id}}</td>
            <td>{{item.email}}</td>
            <td>{{item.content}}</td>
            <td>{{item.time|timeformate}}</td>
        </tr>
    {{/each}}
</script>

<script type="text/javascript">
    refreshFeedBack();
</script>


</body>
</html>
{% endverbatim %}
