<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/pure-min.css">
    <link rel="stylesheet" href="css/layout.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>

</head>
<body>
{% verbatim %}
<div id="menu">
    <div class="pure-menu custom-restricted-width custom-textcolor">
        <span class="pure-menu-heading custom-textcolor">炫轮</span>
        <ul class="pure-menu-list">
            <li class="pure-menu-item"><a href="upload.html" class="pure-menu-link custom-textcolor">文件上传</a></li>
            <li class="pure-menu-item"><a href="manage.html" class="pure-menu-link custom-textcolor">图片管理</a></li>
            <li class="pure-menu-item"><a href="version.html" class="pure-menu-link custom-textcolor">版本更新</a></li>
            <li class="pure-menu-item"><a href="advertise.html" class="pure-menu-link custom-textcolor">广告更新</a></li>
            <li class="pure-menu-item"><a href="feedback.html" class="pure-menu-link custom-textcolor">反馈信息</a></li>
            <li class="pure-menu-item"><a href="information.html" class="pure-menu-link custom-textcolor">运营信息</a></li>
            <li class="pure-menu-item"><a href="userupload.html" class="pure-menu-link custom-textcolor">审核</a></li>
        </ul>
        <span class="pure-menu-heading custom-textcolor"></span>
        <ul class="pure-menu-list">
            <li class="pure-menu-item"><a href="logout" class="pure-menu-link custom-textcolor">注销登录</a></li>
        </ul>
    </div>
</div>
<div id="mainContainer">
    <div class="header header-color" align="center">
        <h1 class="header-title">炫轮后台管理系统</h1>
    </div>
    <div class="content">

    </div>
    <div class="footer">

    </div>
</div>

</body>
</html>
{% endverbatim %}
