<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/pure-min.css">
    <link rel="stylesheet" href="css/layout.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="text/javascript" src="js/jquery-2.1.4.min.js"></script>
    <script type="text/javascript" src="js/arttemplate.js"></script>
    <script type="text/javascript" src="js/uploadView.js"></script>
    <title>上传文件</title>

</head>
<body>
{% verbatim %}
<div id="menu">
    <div class="pure-menu custom-restricted-width custom-textcolor">
        <span class="pure-menu-heading custom-textcolor"><a href="index.html" class="custom-textcolor" style="text-decoration: none">炫轮</a></span>
        <ul class="pure-menu-list">
            <li class="pure-menu-item"><a href="upload.html" class="pure-menu-link custom-textcolor">文件上传</a></li>
            <li class="pure-menu-item"><a href="manage.html" class="pure-menu-link custom-textcolor">图片管理</a></li>
            <li class="pure-menu-item"><a href="version.html" class="pure-menu-link custom-textcolor">版本更新</a></li>
            <li class="pure-menu-item"><a href="advertise.html" class="pure-menu-link custom-textcolor">广告更新</a></li>
            <li class="pure-menu-item"><a href="feedback.html" class="pure-menu-link custom-textcolor">反馈信息</a></li>
            <li class="pure-menu-item"><a href="information.html" class="pure-menu-link custom-textcolor">运营信息</a></li>
            <li class="pure-menu-item"><a href="userupload.html" class="pure-menu-link custom-textcolor">审核</a></li>
        </ul>
        <span class="pure-menu-heading custom-textcolor"></span>
        <ul class="pure-menu-list">
            <li class="pure-menu-item"><a href="logout" class="pure-menu-link custom-textcolor">注销登录</a></li>
        </ul>
    </div>
</div>
<div id="mainContainer">
    <div class="header header-color" align="center">
        <h1 class="header-title">上传文件</h1>
    </div>
    <div class="content">
        <div style="padding-left: 5px">
            <div id="FileStatus">选择上传的文件</div>
            <button class="pure-button pure-button-primary select-file-button" id="ChooseBtn">选择文件
                <input type="file" style="opacity: 0"  accept="image/jpeg,image/png,image/gif" name="file" id="filelist" onchange="AddedPic()"/>
            </button>
            <button class="pure-button pure-button-active" onclick="upload()">上传文件</button>
            <button class="pure-button button-error-color" onclick="deselectFile()">删除文件</button>
            <br>
            <div id="previewPic">

            </div>
        </div>
    </div>
    <div class="footer">

    </div>
</div>

</body>
</html>
{% endverbatim %}
