<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/pure-min.css">
    <link rel="stylesheet" href="css/layout.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="text/javascript" src="js/jquery-2.1.4.min.js"></script>
    <script type="text/javascript" src="js/arttemplate.js"></script>
    <script type="text/javascript" src="js/uploadView.js"></script>
    <script type="text/javascript" src="js/version.js"></script>
    <title>更新版本</title>

</head>
<body>
{% verbatim %}
<div id="menu">
    <div class="pure-menu custom-restricted-width custom-textcolor">
        <span class="pure-menu-heading custom-textcolor"><a href="index.html" class="custom-textcolor" style="text-decoration: none">炫轮</a></span>
        <ul class="pure-menu-list">
            <li class="pure-menu-item"><a href="upload.html" class="pure-menu-link custom-textcolor">文件上传</a></li>
            <li class="pure-menu-item"><a href="manage.html" class="pure-menu-link custom-textcolor">图片管理</a></li>
            <li class="pure-menu-item"><a href="version.html" class="pure-menu-link custom-textcolor">版本更新</a></li>
            <li class="pure-menu-item"><a href="advertise.html" class="pure-menu-link custom-textcolor">广告更新</a></li>
            <li class="pure-menu-item"><a href="feedback.html" class="pure-menu-link custom-textcolor">反馈信息</a></li>
            <li class="pure-menu-item"><a href="information.html" class="pure-menu-link custom-textcolor">运营信息</a></li>
            <li class="pure-menu-item"><a href="userupload.html" class="pure-menu-link custom-textcolor">审核</a></li>
        </ul>
        <span class="pure-menu-heading custom-textcolor"></span>
        <ul class="pure-menu-list">
            <li class="pure-menu-item"><a href="logout" class="pure-menu-link custom-textcolor">注销登录</a></li>
        </ul>
    </div>
</div>
<div id="mainContainer">
    <div class="header header-color" align="center">
        <h1 class="header-title">更新版本</h1>
    </div>
    <div class="content">
            <form style="padding-left: 5px" class="pure-form">
                <p id="FileStatus" >选择上传的文件</p>
                请输入版本号<input type="text" class="pure-input-rounded" placeholder="版本号" id="versionNumber" required/></form>
                <br>
                <button class="pure-button pure-button-primary select-file-button" id="ChooseBtn" style="position: relative;left: 5px">选择文件
                    <input type="file" style="opacity: 0"  name="file" id="filelist" onchange="AddedFile()"/>
                </button>
                <button class="pure-button pure-button-active" onclick="uploadApk()" style="position: relative;left: 5px">上传文件</button>
                <button class="pure-button button-error-color" onclick="deselectFile()" style="position: relative;left: 5px">删除文件</button>
            </form>
            <table class="pure-table" style="position: relative;top: 10px;left: 5px; width: 100%;">
                <thead>
                    <tr>
                        <th>提示</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><li>版本格式为 X.X.X 如 (1.0.1)</li></td>
                    </tr>
                </tbody>
            </table>
            <table class="pure-table" style="position: relative;left: 5px;top: 20px; width: 100%;">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>版本号</th>
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody id="VersionList">

                </tbody>
            </table>
        <table class="pure-table" style="position: relative;top: 40px;left: 5px; width: 100%;">
            <thead>
            <tr>
                <th>域名修改</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td><li>域名格式为 全地址的URL，包括协议 如 http://www.baidu.com</li></td>
            </tr>
            </tbody>
        </table>
        <p style="position: relative;top: 40px">域名列表</p>
        <table class="pure-table" style="position: relative;top: 40px;left: 5px;width: 100%;">
            <thead>
                <tr>
                    <th>#</th>
                    <th>url属性</th>
                    <th>原始路由</th>
                    <th>跳转页面</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody id="UrlList">
            </tbody>
            <tbody>
                <tr>
                    <td>*</td>
                    <td><input class="pure-input-1" id="newUrlName" placeholder="名称"></td>
                    <td><input class="pure-input-1" id="originUrl" placeholder="短链接"></td>
                    <td><input class="pure-input-1" id="redirectUrl" placeholder="完整URL"></td>
                    <td>
                        <button class="pure-button button-select-color" onclick="addUrl()">添加</button>
                    </td>
                </tr>
            </tbody>>
        </table>

    </div>
    <div class="footer">

    </div>
</div>


<script id="versionModule" type="text/html">
    {{each data as value i}}
        <tr>
            <td>{{i+1}}</td>
            <td>{{value.version}}</td>
            <td><button class="pure-button button-error-color" onclick="deleteApk( {{ value.id}} )">删除</button>
                <button class="pure-button button-select-color" onclick="downloadApk({{i}})">下载</button>
            </td>
        </tr>
    {{/each}}

</script>

<script id="urlListModule" type="text/html">
    {{each data as value i}}
    <tr>
        <td>{{i+1}}</td>
        <td>{{value.name}}</td>
        <td><a href="http://www.ixuanlun.com/redirect/{{value.url}}" target="_blank">http://www.ixuanlun.com/redirect/{{value.url}}</a></td>
        <td><a href="{{value.redirect}}" target="_blank">{{value.redirect}}</a></td>
        <td>
            <input class="pure-input-1" placeholder="新地址" uid="{{value.id}}" id="reseturl{{value.id}}">
            <button class="pure-button button-select-color" onclick="resetUrl({{value.id}})">更新</button>
            <button class="pure-button button-error-color" onclick="">删除</button>
        </td>

    </tr>
    {{/each}}
</script>



<script type="text/javascript">
    reloadVersionList();
    reloadUrlList();
</script>


</body>
</html>
{% endverbatim %}
